/* Styles for header navigation */
header {
    background-color: #333; /* Background color of the header */
    color: #fff; /* Text color of the header */
    padding: 10px 20px; /* Padding inside the header */
  }
  
  header ul {
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Distribute items evenly */
    align-items: center; /* Align items vertically */
    list-style-type: none; /* Removes default bullet points from the list */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
  }
  
  header a {
    text-decoration: none;
    color: #fff;
  }
  
  header a:hover {
    text-decoration: underline;
  }
  
  header img {
    max-width: 40px;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  /* Styles for footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  footer nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  footer nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  footer nav ul li:last-child {
    margin-right: 0;
  }
  
  footer nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  footer nav ul li a:hover {
    text-decoration: underline;
  }
  
  .contact-details {
    margin-top: 20px;
  }
  
  .contact-details p {
    margin: 5px 0;
  }  